body {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
    gap: 0px; 
}

div {
    min-width: 450px;
    margin: 0px;
    padding: 0px; 
    border: 1px solid #ccc; 
}

h1 {
    text-align: center;
    width: 100%;
}